---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import ThemeSwitch from "./ThemeSwitch.astro";
---

<ThemeSwitch />

<header>
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/tech">Tech</HeaderLink>
      <HeaderLink href="/personal">Personal</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
    <div class="right-icons">
      <div class="social-links">
        <a href="https://github.com/oliveirarleo" target="_blank">
          <span class="sr-only">Go to Leoanardo's GitHub page</span>
          <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
            ><path
              fill="currentColor"
              d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
            ></path></svg
          >
        </a>
      </div>
      <button
        title="toggle light and dark theme"
        onclick="handleToggleClick();"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="32px"
          width="32px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="#5f6368"
          ><path
            class="sun"
            d="M480-360q50 0 85-35t35-85q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 50 35 85t85 35Zm0 80q-83 0-141.5-58.5T280-480q0-83 58.5-141.5T480-680q83 0 141.5 58.5T680-480q0 83-58.5 141.5T480-280ZM200-440H40v-80h160v80Zm720 0H760v-80h160v80ZM440-760v-160h80v160h-80Zm0 720v-160h80v160h-80ZM256-650l-101-97 57-59 96 100-52 56Zm492 496-97-101 53-55 101 97-57 59Zm-98-550 97-101 59 57-100 96-56-52ZM154-212l101-97 55 53-97 101-59-57Zm326-268Z"
          ></path>
          <path
            class="moon"
            d="M480-120q-150 0-255-105T120-480q0-150 105-255t255-105q14 0 27.5 1t26.5 3q-41 29-65.5 75.5T444-660q0 90 63 153t153 63q55 0 101-24.5t75-65.5q2 13 3 26.5t1 27.5q0 150-105 255T480-120Zm0-80q88 0 158-48.5T740-375q-20 5-40 8t-40 3q-123 0-209.5-86.5T364-660q0-20 3-40t8-40q-78 32-126.5 102T200-480q0 116 82 198t198 82Zm-10-270Z"
          ></path>
        </svg>
      </button>
    </div>
  </nav>

  <style>
    header {
      margin: 0;
      padding: 0 1em;
      background: rgb(--background);
      box-shadow: 0 2px 8px rgba(var(--foreground), 5%);
    }
    h2 {
      margin: 0;
      font-size: 1em;
    }
    button {
      all: unset;
      display: flex;
      align-items: center;
    }
    h2 a,
    h2 a.active {
      text-decoration: none;
    }
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1em 0.5em;
    }
    nav a {
      color: var(--foreground);
      text-decoration: none;
    }
    nav .internal-links {
      display: inline-flex;
      flex-flow: row wrap;
      justify-content: center;
      gap: 1rem;
    }
    nav .internal-links a {
      padding: 0.2rem 0.75rem;
      text-decoration: none;
      border-radius: 0.8rem;
      transition: all 150ms ease 0s;
    }
    nav .internal-links a.active {
      text-decoration: none;
    }
    nav .internal-links a:hover {
      transform: scale(1.05) translate3d(0px, 0px, 0px) perspective(1px);
      background-color: rgba(var(--accent));
      color: rgb(var(--background));
    }
    nav .internal-links a:active {
      transform: scale(1) translate3d(0px, 0px, 0px) perspective(1px);
      background-color: rgba(var(--accent));
      color: rgb(var(--background));
    }

    .right-icons {
      display: flex;
    }

    .social-links,
    .social-links a {
      display: flex;
      padding: 0.5rem;
      align-items: center;
    }
    @media (max-width: 720px) {
      nav {
        flex-flow: column wrap;
        /* gap: 10px; */
      }
      .social-links {
        display: none;
      }
    }
    .sun {
      fill: black;
      background-color: white;
    }
    .moon {
      fill: transparent;
      background-color: black;
    }
    :global(.dark) .sun {
      fill: transparent;
      background-color: black;
    }
    :global(.dark) .moon {
      fill: white;
      background-color: black;
    }
  </style>
</header>
